<%- include('includes/head') %>

<div class="jumbotron">
    <div class="container">
        <h1>Welcome to our website</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse blandit aliquet pharetra.</p>
    </div>
</div>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse blandit aliquet pharetra. Cras at enim quis magna euismod tempor ut sit amet nunc. Duis sit amet velit non urna porta ultricies eu et velit. Nunc eu laoreet sem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed aliquam nec metus ac accumsan. Nunc viverra nisi a dui faucibus consectetur vitae quis tortor. Etiam vitae magna et tellus rutrum efficitur vel et augue.</p>
<%- include('includes/footer') %>


















<%#  <h1>Hello from EJS</h1>  %>
<%# if (!showTitle) { %> 
    <h1><%# title %></h1> 
<%# } %> 

<% people.forEach(function(person){ %>
  <%#  <li> %> <%# person %> <%# </li> %>
<% }) %> 